<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My first test Suite">
    <test name="first test">
        <groups>
            <run>
                <include name="header"></include>
                <include name="button"></include>
            </run>
        </groups>
        <classes>
            <class name="demos.Activity5Test" />
        </classes>
    </test>
</suite>